@font-face {
    font-family:Kanit;
    src: url(../fonts/Kanit-Bold.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Medium.ttf);
}
@font-face{
    font-family: Maguntia;
    src:url(../fonts/UnifrakturMaguntia-Book.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
button{
    background-color: transparent;
    border: 0px;
}
h2{
    font-family: "Ubuntu", sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}
/*------------------------------JORGE----------------------------------------*/
.header{
    min-height: 100vh;
}
h1{
    position: relative;
}
h1::before{
    position: absolute;
    content: '';
    top: 100%;
    height: 5px;
    width: 100%;
    background-color: #FBDD00;
}
.nav{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    z-index: 6;
}
.boxMain{
    display: flex;
    min-height: 90vh;
    flex-direction: column;
}
.headerTitle{
    display: flex;
    width: 100%;
    margin: 140px 0px 0px 0px;
    align-items: center;
}
.tittle{
    font-family: "Ubuntu", sans-serif;
    margin-left: 40px;
    font-size: 2.5rem;
}
#img{
    max-width: 250px;
    height: 100px;
}
.menu{
    margin-right: 60px;
}
.boxMorbius{
    background-color: black;
    color: white;
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    margin: 20px 0px 30px 0px;
}
.morbius{
    font-size: 3em;
    margin: 0px 0px 0px 40px;
}
a{
    color: white;
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
    margin: 20px;
    font-size: 1.1em;
}
.boxTeaser{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px 0px;
}
.boxVideo{
    display: flex;
    justify-content: center;
    width: 60%;
}
.boxText{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}
.boxText h2{
    font-size: 1.5em;
}
.boxText p{
    width: 70%;
    font-size: 1.2em;
}
.boxImg{
    margin-left: -7px;
}
.petitCarre{
    margin-left: 10px;
    width: 40px;
    height: 40px;
}
/*            SECTION 1                   */
#popular{
    max-width: 100%;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.titleSection{
    position: relative;
    width: 100%;
    margin: 0px 0px 80px 0px;

}
.h2Section{
    
    font-size: 3em;
    margin: 0px 0px 0px 40px;
}
.titleSection::before{
    position: absolute;
    content: '';
    background: #FBDD00;
    width: 500px;
    left: 30px;
    height: 100%;
    z-index: -1;
    transform: skew(-50deg);
}
.controls {
    top: 175%;
}
/*Carrousel section1 Jorge /section2 Laeti / Section3 Chris*/
.cartes{
    width: 50%;
}
.mySlider, .mySlider2, .mySlider3{
    position: relative;
    width: 91%;
    min-height: 42vh; 
    margin-left: 0px;
}
.controls, .controls2, .controls3{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 95%; 
    transform: translatey(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#cartes, #cartes2, #cartes3> .tns-item{
    margin-left: 1px;
    font-size: 0px;
 }
.card{
    margin-bottom: 20px;
    cursor: pointer;
}
.card h2{
    margin: 0px;
    font-size: 1.2rem;
}
.card-body{
    display: flex;
    filter: drop-shadow(0px 4px 2px #404040);
    background-color: white;
    margin: 0px;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
}
.rightArrow, .rightArrow2, .rightArrow3{
    font-family: 'Maguntia', cursive ;
    font-size: 7rem;
    cursor: pointer;
    width: 100%;
    height: 50%;
}
.leftArrow, .leftArrow2, .leftArrow3{
    font-family: 'Maguntia', cursive;
    font-size: 7rem;
    cursor: pointer;
    width: 100%;
    height: 50%;
}
#leftBoton, #leftBoton2, #leftBoton3{
    left: 0;
    opacity: 1;
    transition: all 0.3s ease;
}
#leftBoton, #leftBoton2, #leftBoton3 :hover{
    transform: scale(1.1) ;
    opacity: 0.6;
    transition: all 0.3s ease;
}
#rightBoton, #leftBoton2, #leftBoton3{
    right: 0;
    opacity: 1;
    transition: all 0.3s ease;
}
#rightBoton, #leftBoton2, #leftBoton3:hover{
    transform: scale(1.1) ;
    opacity: 0.6;
    transition: all 0.3s ease;
}

/*NAV PORTABLE*/
.none{
    display: none !important;
}
.openNav{
    width: 100% !important;
    min-height: 100vh !important;
}
/* FIN NAV PORTABLE*/
.modal{
    position: fixed;
    width: 60%;
    z-index: 56;
    height: 100vh;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background: white;
    display: flex;
    border: 1px solid black;
    transition: all 1s ease 0s;
    flex-direction: row-reverse;
}
.modaleContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
}
.closeModaleBtn{
    position: absolute;
    width: 20px;
    margin: 20px;
    cursor: pointer;
}
.close{
    width: 50px;
   
}

#upcoming{
    max-width: 100%;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.titleSection3{
    width: 100%;
    display: flex;
    margin: 0px 0px 80px 0px;
}
.h2Section3{
    font-size: 3em;
    margin: 0px 0px 0px 10px;
}
.h2Section3::before{
    position: absolute;
    content: '';
    background: #FBDD00;
    width: 40%;
    height: 7%;
    z-index: -1;
    transform: skew(-60deg);
    left: calc(53% - 50%);
    margin-top: 0px;
}
/*Icon Film*/
.boxImgS3{
    margin-top: 10px;
    max-width: 38px;
    height: 38px;
    margin-left: 108px;
}
/*titre film carrousel CHRIS */
.controls3 {
    top: 373%;   
}
.cartes3{
    width: 150%;
    overflow: hidden;
}
#cartes3-iw{
    margin-left: 40px; 
    min-height: 5vh;
}
.card-body h2{
    text-align: center;
    font-size: 0.95rem;
    font-weight: 100;
}
.button3{
    background-color: transparent;
    border: 0px;
}

.controls3:focus{
    outline: none;
}

#bandeFilm{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
#boxBandeFilm{
    width: 100%;
    height: 150px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}
#boxBande1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
#boxBande1>.bande1{
   color:white;
   font-family: Ubuntu;
   font-size: 3.125em;
   margin-left: 20px;
   margin-bottom: -40px;
}
#boxBande2{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row;
}
#boxBande2>.bande2{
    color:white;
    font-family: Ubuntu;
    font-size: 2.5em;
    margin-left: 20px;
}
.boxCarreJaune{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction:row;
}
.boxCarreJaune>.carre1{
    height: 40px;
    width: 40px;
    background-color: #FBDD00;
    margin-top: -120px;
}
.boxCarreJaune>.carre2{
    height: 40px;
    width: 40px;
    background-color: #FBDD00;
    margin-top: -40px;
}
#boxBandeH3{
    width: 100%;
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
#boxBandeH3>.bandeH3{
    font-family: Roboto;
    font-size: 1.563em;
    margin-left: 20px;
    margin-top: 75px;
}
.boxYoutube{
   margin-left: 20px;
}
/*                   FIN CHRIS                    */

/*---------------------------------------------------------------------------------------------------------------------------*/

/* LAETITIA */

/*************************************Début du carousel films derniers sortis **********************/
#nowPlaying{
    max-width: 100%;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.card-body h2{     
    text-align: center;     
    font-size: 0.95rem;     
    font-weight: 100; 
} 
.cartes2{
    width: 50%;
    overflow: hidden;
}

/*********Flèche********/
.button2{
    background-color: transparent;
    border: 0px;
}
.rightArrow2{
    width: 100%;     
    height: 50%;
    font-family: 'Maguntia', cursive ;
    font-size: 7rem;
    cursor: pointer;
}
.leftArrow2{
    width: 100%;     
    height: 50%;
    font-family: 'Maguntia', cursive;
    font-size: 7rem;
    cursor: pointer;
}
.controls2{
    top: 274%;
}
.controls2:focus{
    outline: none;
}
.h2Section2{
    font-size: 3em;
}
.h2Section2::before{
    position: absolute;
    content: '';
    background: #FBDD00;
    width: 500px;
    height: 6.5%;
    z-index: -1;
    transform: skew(-50deg);
    left: calc(53% - 50%);
    margin-top: -5px;
}
.titleSection2{
    width: 100%;
    display: flex;
}
.boxImgS2{
    margin-left: 82px;
}
/******************************************Début du Footer **********************/

/*********Footer********/

#Footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
#boxFooter{
    width: 100%;
    display: flex;
    flex-direction: column
}
#boxContainer{
    width: 100%;
    height: 30vh;
    display: flex;
}
/*********Box Liens réseaux sociaux********/
#boxLiensreseauxsociaux{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-style: inset;
    border-right-style: inset;
    border-bottom-width: thin;
    border-right-width: thin;
    border-color:#C4C4C480;
}
#boxLiensreseauxsociaux > #boxTitle{
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#boxLiensreseauxsociaux > #boxTitle > #titleFollow{
    color: white;
    text-decoration: underline;
    text-decoration-color: #C4C4C480;
    font-size: 1.56rem;
    font-family: Ubuntu;
    font-weight: 500;
    margin: 10px 10px 30px 10px;
}
/*********Box Icone********/
#boxLiensreseauxsociaux > #boxIcone {
    width: 90%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
/*********Facebook********/
#boxLiensreseauxsociaux > #boxIcone > #iconeFacebook{
    width: 30%;
    display: flex;
    justify-content: center;
}
#boxLiensreseauxsociaux > #boxIcone > #iconeFacebook > img.lienFacebook {
    width: 35px;
    height: 25px;
}
#boxLiensreseauxsociaux > #boxIcone > #iconeFacebook > a{
    background-color: white;
    border-radius: 50%;
    padding: 10px 10px;
    width: 35px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
/*********Twitter********/
#boxLiensreseauxsociaux > #boxIcone > #iconeTwitter{
    width: 30%;
    display: flex;
    justify-content: center;
}
#boxLiensreseauxsociaux > #boxIcone > #iconeTwitter > img.lienTwitter {
    width: 35px;
    height: 25px;
}
#boxLiensreseauxsociaux > #boxIcone > #iconeTwitter > a{
    background-color: white;
    border-radius: 50%;
    padding: 17px 10px;
    width: 35px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
/*********Instagram********/
#boxLiensreseauxsociaux > #boxIcone > #iconeInstagram{
    width: 30%;
    display: flex;
    justify-content: center;
}
#boxLiensreseauxsociaux > #boxIcone > #iconeInstagram > img.lienInstagram{
    width: 35px;
    height: 25px;
}
#boxLiensreseauxsociaux > #boxIcone > #iconeInstagram > a{
    background-color: white;
    border-radius: 50%;
    padding: 15px 10px;
    width: 35px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
/*********Box Entreprise********/
#boxEntreprise{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-style: inset;
    border-right-style: inset;
    border-bottom-width: thin;
    border-right-width: thin;
    border-color:#C4C4C480;
}
#boxEntreprise > #boxLogo{
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#boxEntreprise > #boxParagrapheentreprise{
    width: 60%;
    text-align: center; 
    color: white;
    font-size: 0.75rem;
    font-family: Roboto;
    font-weight: 400;
    line-height: 14.06px;
} 
#boxEntreprise > #boxParagrapheentreprise > p{
    margin: 0px 0px 0px 0px;
    font-size: 1.1rem;
    line-height: 23px;
}
/*********Box Adresse********/
#boxAdresse{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-style: inset;
    border-right-style: inset;
    border-bottom-width: thin;
    border-right-width: thin;
    border-color:#C4C4C480;
}
#boxAdresse > #boxTittle{
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#boxAdresse > #boxTittle > #titleAdress{
    color: white;
    text-decoration: underline;
    text-decoration-color: #C4C4C480;
    font-size: 1.56rem;
    font-family: Ubuntu;
    font-weight: 500;
    margin: 0px;
    height: 11vh;
}
#boxAdresse > #boxParagrapheadresse{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#boxAdresse > #boxParagrapheadresse > #paragrapheAdresse{
    width: 40%;
    text-align: center; 
    color: white;
    font-size: 1.1rem;
    font-family: Roboto;
    font-weight: 400;
    line-height: 14.06px;
    margin: 0px 0px 0px 0px;
}
#boxAdresse > #boxParagrapheadresse > #paragrapheAdresse2{
    text-align: center; 
    color: white;
    font-size: 1.1rem;
    font-family: Roboto;
    font-weight: 400;
    line-height: 25.06px;
    margin: 0px 0px 0px 0px;
}
/*********Box Information********/
#boxInformation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px 20px 0px ;
}
/*********Box Ligne 1********/
#boxInformation > #boxLigne1{
    margin: 0px;
}
#boxInformation > #boxLigne1 > #infosOne{
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    margin: 0px;
    display: flex;
    align-items: center;
}
#boxInformation > #boxLigne1 > #infosOne > a.lienInfosone{
    cursor: pointer;
}
#boxInformation > #boxLigne1 > #infosOne > a.lienInfosone > span.lettreA{
    color:#FBDD00;
}
#boxInformation > #boxLigne1 > #infosOne > a.lienInfosone > span.lettreA > a.infosTwo{
    color: white;
    margin: 0px;
    font-size: 1.1rem;
}
#boxInformation > #boxLigne1 > #infosOne > #copyRight > #infosThree > span.lettreA2{
    color:#FBDD00;
    font-size: 1.1rem;
}
#boxInformation > #boxLigne1 > #infosOne > #copyRight > #infosThree > span.lettreA2 > span.infosFour{
    color: white;
}
/*********Box Ligne 2********/
#boxInformation > #boxLigne2{
    margin: 0px;
    display: flex;
    align-items: center;
}
#boxInformation > #boxLigne2 > #infosFive{
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    margin: 0px;
    font-size: 1.1rem;
}
#boxInformation > #boxLigne2 > #infosFive > p{
    font-size: 1.56rem;
}
#boxInformation > #boxLigne2 > #infosFive > span.lettreA3{
    color:#FBDD00;
    margin: 5px;
}
#boxInformation > #boxLigne2 > #infosFive > span.lettreA3 > span.infosSix{
    color: white;
}
#boxInformation > #boxLigne2 > #infosSeven> p{
    font-size: 1.56rem;
}
#boxInformation > #boxLigne2 > #infosSeven > a.numéro{
    color: #FBDD00;
    font-family: Roboto;
    font-weight: 500;
    margin: 0px 15px ;
    cursor: pointer;
    font-size: 1.1rem;
}
#boxInformation > #boxLigne2 > #infosHeight{
    color: white;
    font-family: Roboto;
    font-weight: 500;
    margin: 0px 0px;
    font-size: 1.1rem;
}
#boxInformation > #boxLigne2 > #infosHeight > p{
    font-size: 1.56rem;
}
/*********Box Ligne 3********/
#boxInformation > #boxLigne3{
    margin:0px;
    display: flex;  
    align-items: center;
}
#boxInformation > #boxLigne3 > p.infosNine{
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.1rem;
}
#boxInformation > #boxLigne3 > p.infosNine > a.infosTen{
    color: #FBDD00;
    font-family: Roboto;
    font-weight: 500;
    cursor: pointer;
}
/******************************************Fin du Footer ***************************/

/* MEDIA QUERY ICI*/

/********************************************Média query Laetitia 375 PX*********************************************/
@media  screen and (max-width:375px) {
    
    #boxContainer{
        flex-direction: column;
    }

    #boxFooter{
        height: 100vh;
    }

    #boxLiensreseauxsociaux{
        width: 100%;
    }

    #boxLiensreseauxsociaux > #boxIcone{
        margin-bottom: 39px;
        height: 2vh;
    }

    #boxEntreprise > #boxLogo{
        height: 10vh;
    }

    #boxEntreprise > #boxParagrapheentreprise > p{
        margin-bottom: 12px;
    }

    #boxEntreprise > #boxLogo > #logoFooter{
        width: 70%;
    }

    #boxAdresse{
        width: 100%;
        margin: 37px 0px 0px 0px;
    }

    #boxAdresse > #boxTittle{
        height: 3vh;
    }


    #boxInformation{
        margin-top: 284px;
    }

    #boxInformation > #boxLigne1 > #infosOne{
        flex-direction: column;
        margin-bottom: 24px;  
    }

    #boxInformation > #boxLigne1 > #infosOne > a.lienInfosone{
        margin: 0px;
        text-align: center;
    }

    #boxInformation > #boxLigne1 > #infosOne > #copyRight{
        margin: 13px 0px 0px 0px;
        text-align: center;
    }

    #boxInformation > #boxLigne2 > #infosSeven{
        margin: 10px 0px 10px 0px ;
    }

    #boxInformation > #boxLigne3 > p.infosNine{
        margin: 13px;
    }

}
/********************************************Fin média query Laetitia 375 PX*******************************************/

/********************************************Média query Laetitia 475 PX *********************************************/
@media  screen and (max-width:475px){
    #boxContainer{
        flex-direction: column;
    }

    #boxFooter{
        height: 100vh;
    }

    #boxLiensreseauxsociaux{
        width: 100%;
    }

    #boxLiensreseauxsociaux > #boxIcone{
        margin-bottom: 39px;
        height: 2vh;
    }

    #boxEntreprise > #boxLogo{
        height: 10vh;
    }

    #boxEntreprise > #boxParagrapheentreprise > p{
        margin-bottom: 12px;
    }

    #boxEntreprise > #boxLogo > #logoFooter{
        width: 70%;
    }

    #boxAdresse{
        width: 100%;
        margin: 36px 0px 0px 0px;
    }

    #boxAdresse > #boxTittle{
        height: 5vh;
    }

    #boxAdresse > #boxParagrapheadresse{
        margin: 0px 0px 12px 0px;
    }

    #boxInformation{
        margin-top: 284px;
    }

    #boxInformation > #boxLigne1 > #infosOne{
        flex-direction: column;
        margin-bottom: 14px;  
    }

    #boxInformation > #boxLigne1 > #infosOne > a.lienInfosone{
        margin: 2px 0px 0px 5px;
        text-align: center;
    }

    #boxInformation > #boxLigne1 > #infosOne > #copyRight{
        margin: 13px 0px 0px 0px;
        text-align: center;
    }

    #boxInformation > #boxLigne2{
        flex-direction: column;
        text-align: center;
        margin: 11px 18px 4px 11px;
    }

    #boxInformation > #boxLigne2 > #infosSeven{
        margin: 10px 0px 10px 0px ;
    }

    #boxInformation > #boxLigne3 > p.infosNine{
        margin: 13px;
    }
}

/********************************************Fin média query Laetitia 475 PX *********************************************/

/********************************************Média query Laetitia 768 PX *********************************************

@media  screen and (max-width:768px){
    #boxLiensreseauxsociaux{
        width: 30%;
    }

    #boxLiensreseauxsociaux > #boxIcone > #iconeFacebook > a{
        padding: 11px 20px;
    }

    #boxLiensreseauxsociaux > #boxIcone > #iconeTwitter > a{
        padding: 17px 17px;
    }

    #boxLiensreseauxsociaux > #boxIcone > #iconeInstagram > a{
        padding: 17px 17px;
    }

    #boxEntreprise{
        width: 50%;
    }

    #boxEntreprise > #boxParagrapheentreprise{
        width: 85%;
    }

    #boxEntreprise > #boxParagrapheentreprise > p{
        font-size: 15px;
        line-height: 20px;
    }

    #boxAdresse > #boxParagrapheadresse{
        margin: -21px 0px -3px 1px;
    }

    #boxAdresse > #boxParagrapheadresse > #paragrapheAdresse{
        width: 100%;
        font-size: 14px;
    }

    #boxAdresse > #boxParagrapheadresse > #paragrapheAdresse2{
        margin: 5px 0px 0px 0px;
        font-size: 14px;
    }

    #boxInformation > #boxLigne1 > #infosOne > a.lienInfosone{
        font-size: 13px;
    }

    #boxInformation > #boxLigne1 > #infosOne > a.lienInfosone > span.lettreA > a.infosTwo{
        font-size: 13px;
    }

    #boxInformation > #boxLigne1 > #infosOne > #copyRight > #infosThree > span.lettreA2{
        font-size: 13px;
        font-family: "Ubuntu", sans-serif;
    }

    #boxInformation > #boxLigne2 > #infosFive{
        font-size: 13px;
    }

    #boxInformation > #boxLigne2 > #infosSeven > a.numéro{
        font-size: 13px;
    }

    #boxInformation > #boxLigne2 > #infosHeight{
        font-size: 13px;
    }

    #boxInformation > #boxLigne3 > p.infosNine{
        font-size: 13px;
    }
}

